.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaçamento entre os elementos */
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.input {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: #d93025;
  font-size: 0.9rem;
  text-align: center;
}